@import "../styles/common";

.FormActions {
	display: flex;
	justify-content: flex-end;

	.FormRow {
		margin-top: 0;
	}

	.FormAction {
		margin-right: var(--FormAction-marginRight);
		&:last-child {
			margin-right: 0;
		}
	}
}

@mixin upto-m {
	.Document--leftHanded {
		.FormActions {
			flex-direction: row-reverse;

			.FormAction {
				margin-right: 0;
				margin-left: var(--FormAction-marginRight);

				&:last-child {
					margin-left: 0;
				}
			}
		}
	}
}