@import "../styles/common";

.form__component {
	margin-top: var(--FormRow-marginTop);

	&:first-child {
		margin-top: 0;
	}
}

.form__component {
	.rrui__input-error {
		margin-top: 0.5em;
		font-size: 85%;
	}
}

.form__component--button {
	margin-top: calc(var(--unit) * 1);
}

.form__component--button + .form__component--button {
	margin-top: calc(var(--unit) * 0.75);
}

.form__component--description {
	margin-top: calc(var(--unit) * 0.5);
	margin-bottom: 0;
}
