@import "../styles/common";

.FormComponent {
	.rrui__input-error {
		margin-top: 0.5em;
		font-size: 85%;
	}
}

.FormComponent--button {
	margin-top: calc(var(--unit) * 1);
}

.FormComponent--button + .FormComponent--button {
	margin-top: calc(var(--unit) * 0.75);
}

.FormComponent--description {
	margin-top: calc(var(--unit) * 0.5);
	margin-bottom: 0;
}
