.Menu {
	--MenuIcon-padding: calc(var(--MenuIcon-width) / 3.5);

	display: flex;
	align-items: center;
	/* "Negative" margins when set directly on `.Menu`
	   cause issues when used on left/right side:
	   they stretch page width beyond `100%`
	   if `padding-left`/`padding-right` is set on `.Menu`.
	   Instead, "negative" margins are set on `<li/>`s below. */
	/*
	margin-left: calc(-1 * var(--MenuIcon-padding));
	margin-right: calc(-1 * var(--MenuIcon-padding));
	*/
}